resources/odd/tei.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xmlns:ex="http://www.tei-c.org/ns/Examples" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2021-02-01+01:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="tei" ns="" source="teipublisher.odd"> <elementSpec ident="gi" mode="add">
                    <model behaviour="link">
            <param name="uri" value="'https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-' || ./string() || '.html'"/>
            <param name="target" value="'_blank'"/>
        </model>
                </elementSpec>
                <elementSpec ident="ptr" mode="change">
                    <model predicate="@target" behaviour="inline">
            <param name="id" value="substring-after(@target, '#')"/>
            <param name="label" value="id(substring-after(@target, '#'), root($parameters?root))/head[1]/string()"/>
            <pb:template xmlns="" xml:space="preserve"><pb-link xml-id="[[id]]">[[label]]</pb-link></pb:template>
        </model>
                    <model predicate="parent::notatedMusic" behaviour="webcomponent">
            <param name="name" value="'pb-mei'"/>
            <param name="url" value="@target"/>
        </model>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="inline">
            <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.*?)[^\w]*$', '$1')"/>
        </model>
                    <model predicate="parent::figure" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::table" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::lg" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::list" behaviour="block">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="specDesc" mode="add">
                    <model predicate="@key" behaviour="listItem" cssClass="specDesc">
            <param name="key" value="@key"/>
            <param name="desc" value="let $key := @key return (root($parameters?root)//elementSpec[@ident=$key]/desc[@xml:lang='en'])[1]"/>
            <pb:template xmlns="" xml:space="preserve"><span><span class="element"><a href="elements/[[key]]">[[key]]</a> </span>[[desc]]</span></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="specList" mode="add">
                    <model behaviour="list" cssClass="specList"/>
                </elementSpec>
            <elementSpec ident="ex:egXML" mode="add">
                    <model behaviour="block">
            <param name="content" value="node()"/>
            <pb:template xmlns="" xml:space="preserve"><pb-code-highlight language="xml" line-numbers="">
  <template>
    [[content]]
  </template>
</pb-code-highlight></pb:template>
        </model>
                </elementSpec>
            <elementSpec ident="specGrp" mode="add">
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="eg" mode="add">
        <model behaviour="inline">
            <param name="content" value="."/>
            <pb:template xmlns="" xml:space="preserve"><pb-code-highlight>
  <template>
    [[content]]
  </template>
</pb-code-highlight></pb:template>
        </model>
    </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>